.contentContainer {
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    .topGallery {
        height: 450px;
        width: 100%;
        padding: 25px;
        background-color: coral;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        font-weight: bolder;
        color: white;
        background-image: url("https://images.pexels.com/photos/53987/tool-work-bench-hammer-pliers-53987.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .cardContainer {
        margin: 1px;
    }
}