.contentContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .topGallery {
        height: 450px;
        width: 100%;
        background-color: coral;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        font-size: 3em;
        font-weight: bolder;
        color: white;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTab9NMIU138Mdxp79t0IQOMI7dSOXoxonaaVlKdKajQ_l6VL1_dA");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .cardContainer {
        margin: 1px;
    }
}