.App {
    text-align: center;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.appContent {
    margin: 10% 10%;
    height: 90vh;
    background-color: orange
}
.topGallery {
    background: url('https://images.pexels.com/photos/53987/tool-work-bench-hammer-pliers-53987.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    width: auto;
    height: 40vh;
    overflow: hidden;
    resize: both;
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}
.topGallery p {
    border: 5px;
    border-color: red;
    background-color: black;
    padding: 15px;
    font-weight: bolder;
    font-size: 2em
}
.appContactCard {
    background-color: orangered
}
.appAboutCard {
    background-color: pink
}
.appAboutText {
    color: blue;
}
.appFooter {
    /* height: 10vh; */
    background-color: black;
    color:white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center
}