html,
body {
 height: 100%;
 position: relative;
}
.App {
    min-height: 90vh; /* will cover the 100% of viewport */
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
    text-align: center;
    background-color: whitesmoke;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}
.appDrawer {
    background-color: black;
    color: red;
    font-weight: bolder;
}
a:link {
    padding-left: 20px;
    text-decoration: none;
    color: black;
}
h3 {
    margin: 0
}
.jobRoles h3 {
    margin-top: 10px;
    margin-bottom: 10px
}
ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.appContent {
    margin: 10% 10%;
    height: 90%;
    background-color: red
}
.topGallery {
    background: url('kitchen.jpg');
    object-fit: cover;
    width: auto;
    height: 40vh;
    overflow: hidden;
    resize: both;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}
.topGallery a:link {
    color: white
}
.topGallery p {
    border: 5px;
    border-color: red;
    background-color: black;
    padding: 15px;
    font-weight: bolder;
    font-size: 2em
}
.topGallery img {
    height: 150px;
    width: 250px;
}
.appContactCard {
    padding: 10px;
    color: white;
    background-color: black;
}
.contactList li {
    display: inline-block
}
.appAboutCard {
    background-color: White;
    padding: 25px
}
.appFooter {
    background-color: black;
    color:white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%
}
.drawerListItem a:Link {
    color: black;
    font-weight: bolder;
    font-family: arial
}
.drawerListItem a:Link:visited {
    color: Black;
    font-weight: bolder;
    font-family: arial
}
@media only screen and (max-width: 1430px) and (min-width: 768px) {
            .topGallery {
        overflow: hidden;
    }
  }
  
  
  @media only screen and (min-width: 1430px) {
    .topGallery {
        overflow: hidden;
    }
  }
  @media only screen and (max-width: 400px) {
 /* small screen Res */
  }